{% extends 'base.html' %}

{%block h1%}
{{ question }}
{%endblock%}


{%block form%}

{% csrf_token %}
<h3>
{{ form.as_p }}
<button type="submit" id="btnValider"> valider </button>
<br> <br> <br>
<u> Correct answer </u> : {{ correct_answer }}
<br> <br>
<u> given answer +/- 10% </u>: {{ result }}
<br> <br>
<u> Explanations : </u>
{{ explanation|escape|linebreaks }}
</h3>
<br> <br>
<h4>
<a href="/training/{{ id_question }}">New question</a>
<br> <br>
<a href="/training/{{ question_suivante }}"> Next Question /a>
<br> <br>
<a href="/training">back to training page</a>
</h4>

{%endblock%}



